:root {
    --body-font: 'Source Sans 3';
    --heading-font: 'Oxygen';
    --mono-font: 'Fira Code';

    --fallback-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}