#home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 5rem 5rem 2rem;
    height: 30rem;

    &>img {
        width: 20rem;
        margin-right: 1rem;
        filter: drop-shadow(2px 2px 3px var(--app-shadow));
        transition: .2s ease;
    }

    &>div:first-of-type {
        display: flex;
        align-items: flex-start;
        flex-flow: column nowrap;
        justify-content: center;
        font-size: 4rem;

        span {
            filter: drop-shadow(2px 2px 3px var(--app-shadow));
            line-height: 4.2rem;
            transition: .2s ease;
            opacity: 0;
            transform: translateX(60%);
        }

        span:nth-of-type(2) {
            font-family: var(--heading-font), var(--default-fallback);
            font-weight: 700;
            color: var(--contrast-dark);
            font-size: 6rem;
            -webkit-text-stroke: 3px var(--title-border);

            animation-duration: 2s;
            animation-name: floatIn;
            animation-iteration-count: 1;
            animation-delay: .5s;
            animation-fill-mode: both;

        }

        span:first-of-type {

            animation-duration: 1s;
            animation-name: floatIn;
            animation-iteration-count: 1;
            animation-delay: .3s;
            animation-fill-mode: both;
        }

        span:nth-of-type(3) {

            animation-duration: 2.3s;
            animation-name: floatIn;
            animation-iteration-count: 1;
            animation-delay: 1s;
            animation-fill-mode: both;
        }

        span:last-of-type {
            
            animation-duration: 3s;
            animation-name: floatIn;
            animation-iteration-count: 1;
            animation-delay: 3.5s;
            animation-fill-mode: both;
            
            a {
                font-size: 1.5rem;
                background-color: var(--contrast-dark);
                padding: 1rem 2rem;
                border-radius: 10px;
                margin: 1rem;
                box-shadow: 2px 2px 4px var(--app-shadow);
                text-decoration: none;
                color: var(--dark-shadow);
                transition: .2s ease;

                &:hover {
                    background-color: var(--contrast-mid);
                    cursor: pointer;
                }
            }

        }
    }
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateX(60%);
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.animated-icons {
    width: 90%;
    left: 6%;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    z-index: -1;

    &>p {
        display: inline-block;
        font-size: 2rem;
        transform: translateY(150%);
        opacity: 0;
        transition: .2s ease;

        &:nth-of-type(1) {
            color: var(--contrast-dark);

            animation-duration: 15s;
            animation-name: floatUp;
            animation-iteration-count: infinite;
            animation-delay: 8s;
            animation-fill-mode: both;
        }

        &:nth-of-type(2) {
            color: var(--app-font-secondary);

            animation-duration: 17s;
            animation-name: floatUp;
            animation-iteration-count: infinite;
            animation-delay: 16s;
            animation-fill-mode: both;
        }

        &:nth-of-type(3) {
            color: var(--contrast-light);

            animation-duration: 19s;
            animation-name: floatUp;
            animation-iteration-count: infinite;
            animation-delay: 2s;
            animation-fill-mode: both;
        }

        &:nth-of-type(4) {
            color: var(--app-font-primary);

            animation-duration: 15s;
            animation-name: floatUp;
            animation-iteration-count: infinite;
            animation-delay: 10s;
            animation-fill-mode: both;
        }

        &:nth-of-type(5) {
            color: var(--app-font-secondary);

            animation-duration: 21s;
            animation-name: floatUp;
            animation-iteration-count: infinite;
            animation-delay: 6s;
            animation-fill-mode: both;
        }

        &:nth-of-type(6) {
            color: var(--contrast-mid);

            animation-duration: 17s;
            animation-name: floatUp;
            animation-iteration-count: infinite;
            animation-delay: 4s;
            animation-fill-mode: both;
        }

        &:nth-of-type(7) {
            color: var(--contrast-dark);

            animation-duration: 15s;
            animation-name: floatUp;
            animation-iteration-count: infinite;
            animation-delay: 12s;
            animation-fill-mode: both;
        }

        &:nth-of-type(8) {
            color: var(--app-font-primary);

            animation-duration: 17s;
            animation-name: floatUp;
            animation-iteration-count: infinite;
            animation-delay: 16s;
            animation-fill-mode: both;
        }

        &:nth-of-type(9) {
            color: var(--app-font-secondary);

            animation-duration: 19s;
            animation-name: floatUp;
            animation-iteration-count: infinite;
            animation-delay: 8s;
            animation-fill-mode: both;
        }
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(150%) rotate(320deg);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    40% {
        transform: translateY(-30rem) rotate(20deg);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 1320px) {
    #home {
        &>img {
            width: 15rem;
        }

        &>div:first-of-type {
            font-size: 3rem;

            span:nth-of-type(2) {
                font-size: 5rem;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    #home {
        flex-flow: column nowrap;
        padding-left: 0rem;

        &>div:first-of-type {
            align-items: center;

        }
    }
}

@media only screen and (max-width: 770px) {
    #home {

        &>div:first-of-type {
            font-size: 2.5rem;
            
            span {
                line-height: 3.2rem;
            }

            span:nth-of-type(2) {
                font-size: 4rem;
                -webkit-text-stroke: 1px var(--title-border);
            }

            span:last-of-type {
                a{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    #home {
        height: 22rem;

        &>div:first-of-type {
            font-size: 2rem;

            span {
                line-height: 2.8rem;
            }

            span:nth-of-type(2) {
                font-size: 3rem;
                line-height: 2.5rem;
            }

            span:last-of-type {
                margin-top: 1rem;
                a {
                    padding: .8rem 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    #home {
        &>img {
            width: 70%;
        }

        &>div:first-of-type {
            font-size: 1.8rem;

            span {
                line-height: 2.5rem;
            }

            span:nth-of-type(2) {
                font-size: 2.5rem;
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    #home {
        height: 16rem;

        &>div:first-of-type {
            font-size: 1.3rem;

            span {
                line-height: 2rem;
            }

            span:nth-of-type(2) {
                font-size: 2rem;
                line-height: 1.6rem;
            }

            span:last-of-type {
                display: none;
            }
        }
    }
}