@font-face {
    font-family: 'Anicons Regular';
    src: url('/assets/fonts/anicons/AniconsGX.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Anicons Color';
    src: url('/assets/fonts/anicons/AniconsColorGX.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Anicons Regular';
    src: url('/assets/fonts/anicons/AniconsGX.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Anicons Color';
    src: url('/assets/fonts/anicons/AniconsColorGX.ttf');
    font-weight: normal;
    font-style: normal;
}