@font-face {
    font-family: 'Source Sans 3';
    src: url('/assets/fonts/source-sans/SourceSans3-VariableFont_wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('/assets/fonts/source-sans/SourceSans3-Italic-VariableFont_wght.ttf');
    font-style: italic;
}
